:root {
    --primary-font: "League Spartan", sans-serif;
    --dark-magenta: hsl(300, 43%, 22%);
    --light-magenta: hsl(333, 80%, 67%);
    --mute-magenta: hsl(303, 10%, 53%);
    --light-pink: hsl(300, 24%, 96%);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-image: url(images/bg-pattern-top-mobile.svg);
    background-repeat: no-repeat;
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin: 0 auto;
    font-family: var(--primary-font);
}

.header {
    text-align: center;
    margin: 1.5rem;
    max-width: 450px;
}

.header p {
    align-items: center;
    color: var(--mute-magenta);
    line-height: 1.5rem;
    margin-top: 20px;
}

h1 {
    color: var(--dark-magenta);
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 2rem;
}

.ul-list {
    width: 100%;
    margin: 25px;
}

ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 1rem;

}



li {
    font-weight: bold;
    list-style: none;
    margin: 0.5rem;
    padding: 0.5rem;
    color: var(--dark-magenta);
    background-color: var(--light-pink);
    border-radius: 8px;
    width: 100%;
    max-width: 375px;
}

svg {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-bottom: 0.75rem;
}

.review-card {
    gap: 1.2em;
    width: 100%;
    max-width: 400px;
}

.card {
    display: grid;
    margin: 20px auto;
    height: 200px;
    padding: 1rem;
    background-color: var(--dark-magenta);
    border-radius: 8px;
    font-size: 0.85rem;
    line-height: 1.2rem;
}

.card-title {
    display: flex;
    align-items: center;
}

.comment {
    color: var(--light-pink);
    font-size: 0.85rem;
    line-height: 1.25rem;
    margin: 1rem;
}

h3 {
    color: white;
}

.icon {
    border: 3px solid var(--light-magenta);
    border-radius: 50%;
    margin: auto 20px;
    width: 50px;
}

span {
    color: var(--light-magenta);
}

footer {
    text-align: center;
    font-size: 0.5rem;
    margin: 1rem;
}

@media only screen and (min-width: 768px) {

    body {
        display: unset;
        background-image: url(images/bg-pattern-top-desktop.svg);
        justify-content: center;
        place-content: center;
        min-height: 100vh;
        width: 100%;
        margin: 0 auto;
    }

    .flex-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0;
        gap: 0;
        margin: 50px;
    }

    .star-rating {
        display: inline-block;
        vertical-align: middle;
        margin: 10px;
    }

    svg {
        margin: 0;
    }

    .ul-list {
        
        margin-right: 300px;
        grid-column: 3 / 3;
    }

    ul li:first-child {
        margin-right: 9rem;
    }

    ul li:nth-child(2) {
        margin-left: 3rem;
    }

    ul li:last-child {
        margin-left: 6rem;
    }

    h1 {
        font-size: 3rem;
        line-height: 3rem;
    }

    .header {
        text-align: left;
        padding: 0;
        width: 400px;
        margin: 3rem;
        
    }

    .bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        grid-column: 1 / 4;
    }

    .review-card {
        display: grid;
        justify-content: center;
        align-items: center;
        place-content: center;
        margin: 20px;
    }

   #roberts {
    margin-top: 50px;
   }

   #wallace {
    margin-top: 100px;
   }
}